body{
    margin:0;
    padding: 0;
    font-family:'Lato', sans-serif; 
    
}
/*///////////////////////////////////////////////*/

.cero{
    color: black;
}

/*////////////////////////////////////////////*/
.uno{
    height: 25rem;
    overflow: hidden;
    margin-left: 20rem;
    
    
}

/*////////////////////////////////////////////*/
.dos{
    display: flex;
}
 /*------------------------------------------------*/
.primero{
    width: 50%;
    height: 45rem;
    
}

.imagenSinFondo{
    margin-left: 5rem;
    margin-top: 10rem;
}

/*-----------------------------------------------*/
.segundo{
    padding-left: 2rem;
    padding-top: 5rem;
}

h2{
    font-size: 2rem;
}

.alfa{
    color: rgba(132, 183, 78, 1);
}

.alfa, .beta{
    font-size: 1rem;
    display: flex;
}

.beta{
    padding-left: 2.5rem;
}

.grupo1{
    display: flex;
    margin-top: -1rem;
    margin-bottom: -0.5rem;
}

.palabra{
    color: gray;
    padding-left: 0.5rem;
}

.texto{
    font-size: 1rem;
    color: gray;
    line-height: 1.6rem;
}

.opciones{
   width: 10rem;
   height: 2.5rem;
   text-align: center;
   margin-top: 1rem;
   color: rgb(77, 75, 75);
   letter-spacing: 3px;
   border: 1px solid rgb(168, 164, 164);
   
}

.input-group{
    margin-top: 1rem;
    
}
.cantidad{
    width: 10rem;
    height: 2.35rem;
    border: 1px solid rgb(168, 164, 164);
}
.menos, .mas{
    width: 2.5rem;
    height: 2.55rem;
    background-color: white;
    border: 1px solid rgb(168, 164, 164);
    
}

.estrellitas{
     padding-left: 1.4rem;
}

.miniEstrella{
    width: 1.1rem;
    height: 1.1rem;
    padding-top: 0.95rem;
    
}

.carrito{
    color: white;
    background-color: black;
    width: 13rem;
    height: 4rem;
    padding: 0 3rem;
    border-radius: 30px;
    font-size: 1.2rem;
}

.carrito:hover{
    color: black;
    background-color: white;
}
